.infoCard {
  text-align: center;
  width: 40%;
  background-color: rgb(70, 70, 70);
  transform: translateY(-75%);
}
.cardTitle {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 15px;
}
.cardInfo {
  color: #fff;
  margin-bottom: 15px;
}