.modal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 1;
  padding: 10px;
  width: 30%;
  border-radius: 10px;
}

.backdrop {
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}